    <div class="container mt-4">
        <h2>Reuniões</h2>

    <div>
        <button routerLink="/reunioes-create" class="btn btn-success">Nova Reunião</button>
    </div>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>1</th>
            <td>
                <a routerLink="/reunioes-details">
                Mark
                </a>
            </td>
            <td>
                <button routerLink="/reunioes-details" class="btn btn-info">Detalhes</button>
                <button class="btn btn-warning">Editar</button>
                <button class="btn btn-danger">Excluir</button>
            </td>

        </tr>
        </tbody>
    </table>
</div>

