<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            <b>
                <h2>Bem Vindo!</h2>
            </b>
        </div>
          <div class="card-body">
            
            <p class="card-text">CRUD para Gerenciamento de Reuniões.
              <br>
              <br>
              Exemplificando um CRUD usando Angular, consumindo a api Spring Boot na nuvem do Heroku: 
              https://api-barber-system.herokuapp.com/api/salas e https://api-barber-system.herokuapp.com/api/convidados. 
              <br>
              <br>
            Repositório no GitHub <br>
            API: https://github.com/odeivissonsantos/api-free-reunioes<br>
            Angular: https://github.com/odeivissonsantos/Free-Reunioes-Angular
            </p>
            
          </div>
    </div>
</div>
